.card{
  border: none;
  height: auto;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
  margin-top: 20px;
}

.card-footer{
  background-color: white;
  border: none;
  border-radius: 8px;
}

input::placeholder{
  color: #FB5B1C;
}

p{
  font-family: ShareTech;
  font-size: 1.1rem;
  color: black;
  margin-left: 10px;
}

#container{
  border: 1px solid red;
  height: 500px;
}



