<div class="container">
  <div class="collapse-accordion" id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="card" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]; let i = index">
      <div class="card-body" role="tab" id="headingOne1">
        <h5 class="mb-0">
          <a class="d-block" data-toggle="collapse" data-parent="#accordion2" href="{{'#collapseOne' + i}}" aria-expanded="false" aria-controls="collapseOne">
            <p>Rollo California</p>
            <div class="row">
              <div class="col-md-10">
                <div class="row">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, nobis! Quae numquam, voluptatum facilis eius molestiae eligendi libero dolor neque id fugit, consectetur, assumenda inventore sapiente pariatur et minus ipsum?</p>
                </div>
              </div>
              <div class="col">
                <img id="imagen" src="../../../assets/images/sushito/logo_movil.png" style="height: 90px; width: 90px;">
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-2">
                  <p>MX$100</p>
                </div>
                <div class="col">
                  <button class="button-general" *ngIf="activarCarrito" style="width: 155px;">AGREGAR</button>
                </div>
              </div>
            </div>
          </a>
        </h5>
      </div>
      <div id="{{'collapseOne'+i}}" class="collapse" role="tabpanel" aria-labelledby="headingOne2">
        <div class="card-block">
          <div class="row">
            <div class="col">
              <div class="row">
                <select name="" id="" class="select-general">
                  <option value="">Hola</option>
                </select>
              </div>
              <div class="row">
                <select name="" id="" class="select-general">
                  <option value="">Hola</option>
                </select>
              </div>
              <div class="row">
                <input type="text" placeholder="Observaciones" class="input-general">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-carrito *ngIf="activarCarrito"></app-carrito>

