<p class="titulo">CORTE DE CAJA</p>
<div class="card" id="total">
  <p>GRAN TOTAL</p>
  <span>TOTAL:350</span>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">CONCEPTO</th>
        <th scope="col">SUBTOTAL</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
</div>
<div class="card" id="tickets">
  <p>TICKETS</p>
  <span>TOTAL:350</span>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Metodo de pago</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
</div>
