@font-face {
  font-family: "ShareTech";
  src: url("../../../assets/fonts/ShareTech-Regular.ttf");
}

#wrapper{
  /* background-image:url("../../../assets/images/sushito/logo.png"); */
  background-color: #F0F5F2;
  background: #F0F5F2;
}

#home{
  height: 50%;
  width: 50%;
}

#sol{
  right: 0px;
  height: 60%;
  position: fixed;
  width: 60%;
  margin-top: 9%;
  margin-right: 25px;
}

h1{
  margin-top: 40px;
  font-family: ShareTech;
  color: black;
}

p{
  font-family: ShareTech;
}

input{
  border-radius: 10px;
  border: 1px solid black;
  width: 96%;
  margin-top: 30px;
  font-family: ShareTech;
  padding-left: 10px;
}

/* input[type="text"]::placeholder{
  padding-left: 10px;
  font-family: ShareTech;
}

input[type="password"]::placeholder {
  padding-left: 10px;
  font-family: ShareTech;
} */

.boton{
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  width: 80%;
  border: 1px solid black;
  outline: none;
  margin-top: 30px;
  font-family: ShareTech;
  color: black;
}

.boton:hover{
  background-color: #1DAD47;
  color: white;
  border: none;
}


.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
  z-index: 1;
}

.login-box {
  width: 400px;
  margin: 0 auto;
}

.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px; }

.login-sidebar .login-box {
  left: 0px;
  position: absolute;
  height: 100%;
  height: 90%;
  width: 44%;
  margin-left: 35px;
  margin-top: 35px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

@media(max-width:575px) {
  .card-body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url("../../../assets/images/sushito/logo_movil.png");
    background-size: 300px 300px;
  }
  .login-sidebar .login-box {
    width: 90%;
    margin-left: 25px;
  }
  #sol{
    visibility: hidden;
  }
  .boton{
    background-color: white;
  }
}
