<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
      <div class="card-body">
          <form #form="ngForm" (ngSubmit)="login()" autocomplete="off" [formGroup]="loginForm" class="form-horizontal form-material" id="loginform">
              <a href="javascript:void(0)" class="text-center db">
                <!-- <img src="../assets/images/logo-icon.png" alt="Home" /><br/> -->
                <img id="home" src="../assets/images/sushito/logo_original.png" alt="Home" />
              </a>
              <h1 class="text-center">INICIO DE SESIÓN</h1>
              <div class="form-group m-t-40">
                  <div class="col-xs-12">
                      <input type="text" formControlName="nombre" placeholder="USUARIO">
                      <p class="text-danger" *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input type="password" formControlName="password" placeholder="CONTRASEÑA">
                      <p class="text-danger" *ngIf="campoNoValido('password')">La contraseña es obligatoria</p>
                  </div>
              </div>
              <div class="form-group text-center m-t-20">
                  <div class="col-xs-12">
                      <button class="boton" type="submit">INGRESAR</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <img id="sol" src="../assets/images/sushito/logo.png" class="img-responsive center-block" alt="Home" />
</section>
