#principal{
  padding: 10px;
  height: 455px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

/* Float four columns side by side */
.column {
  width: 50%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.mesa {
  border: 4px solid black;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background-color: transparent;
  height: 200px;
  width: 59%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-size: 1.2rem;
}

.mesa img{
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.tarjetas{
  width: 215px !important;
}

.mesa p{
  font-family: ShareTech;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
