<p>MÉTODO DE PAGO</p>
<div class="card" id="principal">
  <div class="row">
    <div class="column">
      <div class="card mesa pointer" [routerLink]="['/dashboard/metodo/pago', 'efectivo']">
        <img src="../../../../assets/images/sushito/efectivo.png" alt="">
        <p>Efectivo</p>
      </div>
    </div>
    <div class="column">
      <div class="card mesa pointer" [routerLink]="['/dashboard/metodo/pago', 'credito']">
        <img class="tarjetas" src="../../../../assets/images/sushito/tarjeta.png" alt="">
        <p>Tarjeta de credito</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column" [routerLink]="['/dashboard/metodo/pago', 'debito']">
      <div class="card mesa pointer">
        <img class="tarjetas" src="../../../../assets/images/sushito/tarjeta.png" alt="">
        <p>Tarjeta de debito</p>
      </div>
    </div>
    <div class="column" [routerLink]="['/dashboard/metodo/pago', 'transferencia']">
      <div class="card mesa pointer">
        <img src="../../../../assets/images/sushito/transfer.png" alt="">
        <p>Transferencia</p>
      </div>
    </div>
  </div>
</div>
