.card{
  margin-top: 15px;
  padding: 10px;
  height: auto;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

p{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 45px;
  color: #000000;
}

th{
  font-family: ShareTech;
}

.boton-agregar{
  background-color: #1D8AAD;
  color: white;
  margin: 0px 0px 10px 0px;
  border: none;
  font-family: ShareTech;
  width: 50%;
  border-radius: 8px;
}
