<div class="card">
  <div class="card-body">
    <p>{{title}}</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pedido</th>
          <th scope="col">Mesero</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="container">
    <div class="clearfix">
      <div class="pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12 btn-container btn-container-primary btn-group">
        <button type="button" class="boton-agregar">AGREGAR</button>
      </div>
    </div>
  </div>
</div>
