<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#pedidos" role="tab">Pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pedidos-llevar" role="tab">Pedidos para llevar</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="pedidos" role="tabpanel">
      <app-pedido-mesero [title]="'PEDIDOS'"></app-pedido-mesero>
    </div>
    <div class="tab-pane" id="pedidos-llevar" role="tabpanel">
      <app-pedido-mesero [title]="'PEDIDOS PARA LLEVAR'"></app-pedido-mesero>
    </div>
  </div>
</div>
