<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#promociones" role="tab">Promociones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#dosporuno" role="tab">2 X 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#descuentos" role="tab">Decuentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#temporada" role="tab">Por Temporada</a>
    </li>
  </ul>
  <div class="tab-content" style="overflow: auto;">
    <div class="tab-pane active" id="promociones" role="tabpanel">
      <app-detalle-producto [activarCarrito]="false"></app-detalle-producto>
    </div>
    <div class="tab-pane" id="dosporuno" role="tabpanel">
      <app-detalle-producto [activarCarrito]="false"></app-detalle-producto>
    </div>
    <div class="tab-pane" id="descuentos" role="tabpanel">
      <app-detalle-producto [activarCarrito]="false"></app-detalle-producto>
    </div>
    <div class="tab-pane" id="temporada" role="tabpanel">
      <app-detalle-producto [activarCarrito]="false"></app-detalle-producto>
    </div>
  </div>
</div>
