<div class="fab-container">
  <div class="fab shadow">
    <!-- <div *ngFor="let item of [1,1,1,1,1]" >
      <div>
        <div class="divider"></div>
      <div class="row items">
        <div class="col-md-2">
          <img id="imagen" src="../../../assets/images/sushito/logo_movil.png" style="height: 40px; width: 40px;">
        </div>
        <div class="col">
          <p>Rollo California</p>
        </div>
        <div class="col">
          <button>AGREGAR</button>
        </div>
      </div>
      </div>
    </div> -->
    <div class="divider"></div>
    <div class="row precio">
      <div class="col-md-2">
        <img id="imagen" src="../../../assets/images/sushito/logo_movil.png" style="height: 40px; width: 40px;">
      </div>
      <div class="col">
        <p>MX$100</p>
      </div>
      <div class="col-md-3">
        <button class="button-general">ORDENAR</button>
      </div>
    </div>
  </div>
</div>
