.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: absolute;
  bottom: 0px;
  right: 33%;
}

.fab-container .fab {
  padding: 15px;
  position: relative;
  height: auto;
  width: 551px;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.divider{
  margin: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);;
  border-radius: 5px;
}

.precio p{
  font-family:ShareTech;
  font-style: normal;
  line-height: 34px;
  font-size: 1.3rem;
  color: #000000;
}

/* .precio{
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px 0px 0px;
}*/

.items{
  margin-bottom: 10px;
  /* border-top: 2px solid rgba(0, 0, 0, 0.1); */
}
