#total{
  padding: 10px;
  height: 468px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

th{
  text-align: center;
}

tr{
  text-align: center;
}

span{
  font-family: ShareTech !important;
  font-size: 1.5rem;
  color: black;
  text-align: right !important;
  margin-right: 60px;
}

.card p{
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.titulo{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
}

div .boton-agregar{
  background-color: #1D8AAD;
  border: none;
  color: white;
  border-radius: 5px;
  width: 40%;
  margin: 5px;
  padding: 3px;
}

div .boton-guardar{
  background-color: #006819;
  border: none;
  color: white;
  border-radius: 5px;
  width: 40%;
  margin: 5px;
  padding: 3px;
}

input{
  margin: 0px !important;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

label{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  margin: 0px !important;
}
