<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="index.html">
        <b>
          <img src="./assets/images/sushito/logo_movil.png" style="height: 40px; width: 40px;" alt="homepage" class="dark-logo" />
          <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <span>
          <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
          <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span>
      </a> -->
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <h2>{{now|date:'EEEE, MMMM d, y, h:mm a':'es' | titlecase }}</h2>
    </div>
  </nav>
</header>
