<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <h3>ORDENES</h3>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <input type="text" name="" id="" placeholder="Nombre:">
          </div>
          <div class="col">
            <button class="boton-agregar">AGREGAR</button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="Empleado">
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Pedido</th>
          <th scope="col">Status</th>
          <th scope="col">Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="container">
    <div class="clearfix">
      <div class="pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12 btn-container btn-container-primary btn-group">
        <button type="button" class="boton-agregar">AGREGAR</button>
      </div>
      <div class="pull-right btn-container col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <button type="button" class="boton-finalizar" (click)="finalizar()">FINALIZAR</button>
      </div>
    </div>
  </div>
</div>
