.card{
  margin-top: 25px;
  height: auto;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

h3{
  font-family: ShareTech;
}

th{
  font-family: ShareTech;
}

input{
  font-family: ShareTech;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 4px 5px grey;
}

input::placeholder{
  font-family: ShareTech;
}

.boton-agregar{
  background-color: #1D8AAD;
  color: white;
  margin: 0px 0px 10px 0px;
  border: none;
  font-family: ShareTech;
  width: 50%;
  border-radius: 8px;
}

.boton-finalizar{
  background-color: #F8471C;
  color: white;
  margin: 0px 0px 10px 0px;
  border: none;
  font-family: ShareTech;
  width: 100%;
  border-radius: 8px;
}

