<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#populares" role="tab">Populares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#rollos" role="tab">Rollos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sopas" role="tab">Sopas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#postres" role="tab">Postres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#bebidas" role="tab">Bebidas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#mi-rollo" role="tab">Mi Rollo</a>
    </li>
  </ul>
  <div class="tab-content" style="overflow: auto;">
    <div class="tab-pane active" id="populares" role="tabpanel">
      <app-detalle-producto></app-detalle-producto>
    </div>
    <div class="tab-pane" id="rollos" role="tabpanel">
      <app-detalle-producto></app-detalle-producto>
    </div>
    <div class="tab-pane" id="sopas" role="tabpanel">
      <app-detalle-producto></app-detalle-producto>
    </div>
    <div class="tab-pane" id="postres" role="tabpanel">
      <app-detalle-producto></app-detalle-producto>
    </div>
    <div class="tab-pane" id="bebidas" role="tabpanel">
      <app-detalle-producto></app-detalle-producto>
    </div>
    <div class="tab-pane" id="mi-rollo" role="tabpanel">
      <app-detalle-producto></app-detalle-producto>
    </div>
  </div>
</div>
<!-- <app-detalle-producto></app-detalle-producto> -->
