<p class="titulo">DATOS DE FACTURACIÓN</p>
<div class="card" id="total">
  <form>
    <div class="card-body">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Nombre o Razon social:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-plaintext" id="staticEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Dirección:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="staticEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Teléfono:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="staticEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">RFC:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="staticEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Correo electrónico:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="staticEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">CFDI:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="staticEmail">
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12 btn-container btn-container-primary btn-group">
            <button type="button" class="boton-agregar">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
