#total{
  padding: 10px;
  height: 468px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

.titulo{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
}

.form-group{
  background-color: rgba(246, 203, 163, 0.3) !important;
  border-radius: 5px;
}

input{
  margin: 0px !important;
  width: 100%;
  border: none;
  background-color: transparent;
}

.boton-agregar{
  background-color: rgba(255, 182, 0, 0.6);
  border: none;
  color: white;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
}
