#principal{
  padding: 50px 180px;
  height: auto;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

.mesa{
  margin: 0px !important;
  height: 367px;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mesa img{
  height: 160px;
  width: 210px;
}

.mesa p{
  font-family: ShareTech;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.row{
  width: 75%;
}

input{
  width: 80px;
}

button{
  background-color: #FF0000;
  color: white;
  border: none;
  width: 120px;
  border-radius: 8px;
}
