<p>MÉTODO DE PAGO</p>
<div class="card" id="principal">
  <div class="card mesa pointer">
    <img id="metodo" [src]="data.img" alt="">
    <p>{{data.title | titlecase}}</p>
    <div class="row">
      <div class="col">
        <div class="row" style="margin: 0px !important;">
          <div class="col">
            <p>Pagará:</p>
          </div>
          <div class="col">
            <input type="text" name="" id="">
          </div>
        </div>
        <div class="row" style="margin: 0px !important;">
          <div class="col">
            <p>Cambio:</p>
          </div>
          <div class="col">
            <input type="text" name="" id="">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin: 0px !important;">
          <div class="col">
            <p>Mesa:</p>
          </div>
          <div class="col">
            <input type="text" name="" id="">
          </div>
        </div>
        <div class="row" style="margin: 0px !important;">
          <div class="col">
            <p>Total:</p>
          </div>
          <div class="col">
            <input type="text" name="" id="">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <button>PAGAR</button>
    </div>
  </div>
</div>
