<p class="titulo">PROPINAS</p>
<div class="card" id="total">
  <span>SubTotal:$350</span>
  <form>
    <div class="row">
      <div class="col">
        <div class="form-group m-t-40">
          <label>Mesa</label>
          <div class="col-xs-12">
            <input type="text">
            <!-- <p class="text-danger">El nombre es obligatorio</p> -->
          </div>
        </div>
        <div class="form-group m-t-40">
          <label>Mesero</label>
          <div class="col-xs-12">
            <input type="text">
            <!-- <p class="text-danger">El nombre es obligatorio</p> -->
          </div>
        </div>
        <div class="form-group m-t-40">
          <label>Monto</label>
          <div class="col-xs-12">
            <input type="text">
            <!-- <p class="text-danger">El nombre es obligatorio</p> -->
          </div>
        </div>
      </div>
      <div class="col">
        <p>Conceptos</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Mesa</th>
              <th scope="col">Mesero</th>
              <th scope="col">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12 btn-container btn-container-primary btn-group">
            <button type="button" class="boton-agregar">Agregar</button>
            <button type="button" class="boton-guardar" (click)="guardar()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
