<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#mesas" role="tab">MESAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pedidos" role="tab">PEDIDOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pedidosDomicilio" role="tab">PEDIDOS A DOMICILIO</a>
    </li>
  </ul>
  <div class="tab-content" style="overflow: auto;">
    <div class="tab-pane active" id="mesas" role="tabpanel">
      <app-caja-mesas></app-caja-mesas>
    </div>
    <div class="tab-pane" id="pedidos" role="tabpanel">
      <app-caja-pedidos></app-caja-pedidos>
    </div>
    <div class="tab-pane" id="pedidosDomicilio" role="tabpanel">
      <app-caja-pedidos-domicilio></app-caja-pedidos-domicilio>
    </div>
  </div>
</div>
