<p class="titulo">EGRESOS</p>
<div class="card" id="total">
  <div class="card fondo">
    <p>FONDO DE CAJA</p>
    <div class="row">
      <div class="col-md-10">
        <div class="card input1">
          <div class="form-group m-t-40">
            <div class="col-xs-12">
              <label>$</label>
              <input type="text">
              <!-- <p class="text-danger">El nombre es obligatorio</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <button (click)="guardar()">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
