#total{
  padding: 10px;
  height: 468px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondo{
  /* box-shadow: 1px 4px 5px grey; */
  padding: 15px;
  height: 168px;
  width: 100%;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  border-top: 3px solid rgba(191, 191, 191, 0.7);
  border-bottom: 3px solid rgba(191, 191, 191, 0.7);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.input1{
  height: 78px;
  width: 80%;
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  border-left: 3px solid rgba(191, 191, 191, 0.7);
  border-right: 3px solid rgba(191, 191, 191, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondo p{
  text-align: left !important;
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
}

.row{
  width: 100%;
}

.form-group{
  width: 100%;
}

label{
  margin-left: 10px;
}

input{
  width: 90%;
  border-bottom: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(191, 191, 191, 0.5);
}

button{
  background-color: #F1A660;
  border: none;
  color: white;
  border-radius: 8px;
  width: 80%;
  margin: 5px;
  padding: 8px;
}

.titulo{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
}
