<p class="titulo">PROPINAS</p>
<div class="card" id="total">
  <span>Total:$350</span>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Mesa</th>
        <th scope="col">Mesero</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td> -->
      </tr>
    </tbody>
  </table>
  <div class="footer">
    <div class="container">
      <div class="clearfix">
        <div class="pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12 btn-container btn-container-primary btn-group">
          <button type="button" class="boton-agregar" [routerLink]="['/dashboard/agregar/propinas']">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>
