#total{
  padding: 10px;
  height: 468px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

th{
  text-align: center;
}

tr{
  text-align: center;
}

span{
  font-family: ShareTech !important;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: right;
  margin-right: 60px;
}

.card p{
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.titulo{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
}

div button{
  background-color: #1D8AAD;
  border: none;
  color: white;
  border-radius: 5px;
  width: 40%;
}
