<div class="col-xl-12 col-md-12">
  <div class="card overflow-hidden">
    <div class="card-content">
      <div class="card-body cleartfix">
        <div class="media align-items-center">
          <div class="media-body">
            <span>Mesa 1</span>
          </div>
          <div class="align-self-center">
            <img src="../../../assets/images/sushito/mesas-plato.png" alt="" style="height: 70px; width: 70px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
