.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.card {
  display: inline-block;
  margin-right: 20px;
  width: 250px;
  height: 120px;
  background-color: #FBDFC7;
  border-radius: 10px;
  margin-left: 10px;
}

span{
  font-family: ShareTech;
  font-size: 1.8rem;
  color: black;
}

::-webkit-scrollbar { width: 9px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #FBDFC7;}
::-webkit-scrollbar-thumb:active { background: #ffe9d6;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-corner { background: transparent;}

/*Webkit*/
.scrolling-wrapper::-webkit-scrollbar-track {
  border-radius: 4px;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 10px;
  border-radius: 15px !important;
  background-color: transparent;
}
.scrolling-wrapper:hover::-webkit-scrollbar {
  display: initial;
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


