<div class="scrolling-wrapper">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card pointer" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" (click)="dirigir()">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <span>MESA 1</span>
            </div>
            <div class="media-body text-right">
              <img src="../../../assets/images/sushito/mesas-plato.png" alt="" style="height: 70px; width: 70px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
