@font-face {
  font-family: "ShareTech";
  src: url("../../../assets/fonts/ShareTech-Regular.ttf");
}
#perfil{
  height: 120px;
  width: 120px;
}

.imgFooter{
  text-align: center;
  width: 100%;
}

.logoSushi{
  height: 90px;
  width: 150px;
  /* margin-bottom: 60px; */
}

.devider{
  height: 3px;
  width: 90%;
  /* border-radius: 10px; */
  background: #ABD423;
  display: block;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 1px 4px 5px grey;
}

span{
  font-family: ShareTech;
}

a{
  font-family: ShareTech;
}



/* .imagen-logo-ocultar{
  visibility: hidden;
} */
