<!-- <header class="topbar-menu">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
    </div>
  </nav>
</header> -->
<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile" style="text-align: center;">
          <a class="waves-effect waves-dark" aria-expanded="false">
            <img id="perfil" src="./assets/images/sushito/VICTOR.png" alt="user" />
          </a>
          <span class="hide-menu"> {{ nombre }} </span>
          <span class="hide-menu"> MESERO </span>
          <ul aria-expanded="false" class="collapse">
            <!-- <li>
              <a href="javascript:void()">
                My Profile
              </a>
            </li>
            <li>
              <a href="javascript:void()">
                My Balance
              </a>
            </li>
            <li>
              <a href="javascript:void()">
                Inbox
              </a>
            </li>
            <li>
              <a href="javascript:void()">
                Account Setting
              </a>
            </li> -->
            <li>
              <a href="javascript:void()">
                Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-devider"></li> -->
        <!-- <li class="nav-small-cap">
          PERSONAL
        </li> -->
        <li *ngFor="let item of side" [routerLink]="[item.route]" routerLinkActive="router-link-active" >
          <div class="devider"></div>
          <a class="waves-effect waves-dark" aria-expanded="false">
            <img src="../../../assets/images/sushito/icono.png" alt="" class="light-logo imagen-logo-ocultar">
            <!-- <i class="mdi mdi-gauge"></i> -->
            <span class="hide-menu">
              {{item.name}}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="waves-effect waves-dark imgFooter" aria-expanded="false">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img class="hide-menu logoSushi" src="../../../assets/images/sushito/logo_original.png" alt="">
        </b>
      </a>
    </div>
    <img src="./assets/images/sushito/logo_movil.png" style="width: 50px; height: 50px;" alt="homepage" class="light-logo imagen-logo-ocultar" />
    <!-- <img class="hide-menu logoSushi" src="../../../assets/images/sushito/logo_original.png" alt=""> -->
  </footer>
</aside>
