*{
  font-family: ShareTech !important;
}
.card{
  padding: 10px;
  height: 455px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

.card-body{
  text-align: right;
}

p{
  font-size: 1.5rem;
}

span{
  font-family: ShareTech !important;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

th{
  color: black;
  font-size: 1.1rem;
}

.footer{
  text-align: center;
}

button{
  color: white;
  width: 70%;
  height: 30px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

.imprimir{
  background-color: #1C67F8;

}

.descuento{
  background-color: #F99D49;
}

.pagar{
  background-color: #F8471C;
}
