<div>
  <p>ORDEN DE COMPRA</p>
  <div class="card">
    <app-detalle-mesa-info></app-detalle-mesa-info>
    <div class="card-body">
      <span>Total:350</span>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Concepto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio U.</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col">
          <button class="imprimir">Imprimir</button>
        </div>
        <div class="col">
          <button class="descuento" (click)="pass()">Descuento</button>
        </div>
        <div class="col">
          <button class="pagar" (click)="pagar()">Pagar</button>
        </div>
      </div>
    </div>
  </div>
</div>
