<div class="card principal">
  <div class="card-header">
    <div class="row justify-content-end">
      <div class="col-6">
        <div class="row">
          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary cambio" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cambio
              </button>
              <div class="dropdown-menu cambioForm" aria-labelledby="dropdownMenuButton">
                <p>CAMBIO DE MESA</p>
                <select name="" id="">
                  <option value="">MESA ACTUAL</option>
                </select>
                <select name="" id="">
                  <option value="">MESA A CAMBIAR</option>
                </select>
                <button>CAMBIO</button>
              </div>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-secondary agregar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Añadir
            </button>
            <div class="dropdown-menu agregarForm" aria-labelledby="dropdownMenuButton">
              <p>AÑADIR MESA</p>
              <input type="text" placeholder="MESA">
              <button>AGREGAR</button>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-secondary dividir" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dividir
            </button>
            <div class="dropdown-menu dividirForm" aria-labelledby="dropdownMenuButton">
              <p>MESA A DIVIDIR</p>
              <select name="" id="">
                <option value="">MESA</option>
              </select>
              <select name="" id="">
                <option value="">DIVISIONES</option>
              </select>
              <button>AGREGAR</button>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-secondary unir" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unir
            </button>
            <div class="dropdown-menu unirForm" aria-labelledby="dropdownMenuButton">
              <p>MESA A UNIR</p>
              <select name="" id="">
                <option value="">MESA PRINCIPAL</option>
              </select>
              <select name="" id="">
                <option value="">MESA SECUNDARIA</option>
              </select>
              <button>UNIR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" style="overflow: scroll;">
    <div class="card-columns">
      <div class="card mesa" *ngFor="let item of [1,1,1,1,1,1,1,1,1]; let i = index" (click)="routingPage()">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <span>MESA {{i+1}}</span>
            </div>
            <div class="media-body text-right">
              <img src="../../../assets/images/sushito/mesas-plato.png" alt="" style="height: 70px; width: 70px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
