.principal{
  margin-top: 15px;
  padding: 10px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 1px 4px 5px grey;
}

.principal > .card-header{
  background-color: transparent;
}

.mesa {
  display: inline-block;
  margin-right: 20px;
  width: 250px;
  height: 120px;
  background-color: #FBDFC7;
  border-radius: 10px;
  margin-left: 10px;
}

.mesa span{
  font-family: ShareTech;
  font-size: 1.3rem;
  color: black;
}

.cambio{
  background-color: #E9573C;
  color: white;
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  height: 31px;
  width: 90%;
  text-align: center;
  padding: 3px;
}

.agregar{
  background-color: #1DAD47;
  color: white;
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  height: 31px;
  width: 90%;
  text-align: center;
  padding: 3px;
}

.dividir{
  background-color: #EF7355;
  color: white;
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  height: 31px;
  width: 90%;
  text-align: center;
  padding: 3px;
}

.unir{
  background-color: #5589EF;
  color: white;
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  height: 31px;
  width: 90%;
  text-align: center;
  padding: 3px;
}

.cambioForm{
  padding: 10px;
  text-align: center;
}

.cambioForm > p{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.cambioForm > select{
  width: 100%;
  margin: 10px 0px !important;
  font-size: .8rem;
}

.cambioForm > button{
  margin-top: 10px;
  background: rgba(233, 87, 60, 0.8);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.agregarForm{
  padding: 10px;
  text-align: center;
}

.agregarForm > p{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.agregarForm > input{
  width: 100%;
  margin: 0px !important;
  border: 1px solid black;
}

.agregarForm > button{
  margin-top: 10px;
  background: rgba(29, 173, 71, 0.8);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.dividirForm{
  padding: 10px;
  text-align: center;
}

.dividirForm > p{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.dividirForm > select{
  width: 100%;
  margin: 10px 0px !important;

}

.dividirForm > button{
  margin-top: 10px;
  background: rgba(29, 173, 71, 0.8);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.unirForm{
  padding: 10px;
  text-align: center;
}

.unirForm > p{
  font-family: ShareTech;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.unirForm > select{
  width: 100%;
  margin: 10px 0px !important;
  font-size: .8rem;
}

.unirForm > button{
  margin-top: 10px;
  background: rgba(85, 137, 239, 0.8);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}


::-webkit-scrollbar { width: 9px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #FBDFC7;}
::-webkit-scrollbar-thumb:active { background: #ffe9d6;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-corner { background: transparent;}

/*Webkit*/
.scrolling-wrapper::-webkit-scrollbar-track {
  border-radius: 4px;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 10px;
  border-radius: 15px !important;
  background-color: transparent;
}
.scrolling-wrapper:hover::-webkit-scrollbar {
  display: initial;
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
