<div class="card">
  <div class="card-body">
    <h3>ORDENES</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numero de mesa</th>
          <th scope="col">Mesero</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
