<div class="card principal">
  <div class="card-body" style="overflow: scroll;">
    <div class="card-columns">
      <div class="card mesa" *ngFor="let item of [1,1,1,1,1,1,1,1,1]; let i = index">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <span>PEDIDO {{i+1}}</span>
            </div>
            <div class="media-body text-right">
              <img src="../../../assets/images/sushito/mesas-plato.png" alt="" style="height: 70px; width: 70px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
